.container-footer{
    width: 80vw;
    height: 150px;
    color: #FFF;
    display: flex;
    justify-content: center;

    background-color: #ff9b05
    /* background-color: #dcecff; */
}
    /* Filhos */
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /* background-color: aqua; */
    }

    .footer-1{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        /* background-color: rgb(139, 134, 134); */

    }

    .footer-1-cont{
        width: 50%;
        height: 100px;
        color: #000;
        font-size: 12px;
        font-weight: bold;
        /* background-color: darkmagenta; */

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-2-cont{
        width: 50%;
        height: 100px;
        color: #000;
        font-size: 12px;
        font-weight: bold;
        /* background-color: darkmagenta; */

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-2{
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #000;
        /* background-color: chartreuse; */
    }