.container-header-pri{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self:center;
    background-color: blueviolet;
}
    /* Filhos */
    .container-header{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        align-items: center;
        background-color: burlywood;
    }

.container-body-pri{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 170, 243);
}

.container-footer-pri{
    /* height: 80vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 170, 243);
}