.container-header-pri{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self:center;
    /* background-color: #ff9b05; */
    background-color: #dcecff;
}
    /* Filhos */
    .container-header{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        align-items: center;
        /* background-color: burlywood; */
    }
        /* Filhos */
        .container-header-logo a{
            text-decoration: none;
            color: #000;
        }

        .container-header-logo a:hover{
            /* color: #FFF; */
            transition: 1s;
            text-shadow: 4px 4px 10px #3a3a3a;
        }
        
.container-body-pri{
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(208, 170, 243); */
}

.container-footer-pri{
    /* height: 80vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #ff9b05; */
    background-color: #dcecff;
}